.CategoryList {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0vmin;
    
  }

  #itemsCategory {
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: -90px;
    margin-bottom: 120px;
  }