.CategoryList {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0vmin;
    
  }
  
  /* .CategoryList li {
    padding: 0 10px;
  } */
  
  #itemsCategory {
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: -90px;
    margin-bottom: 120px;
  }